<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Project-4</display-name>
  <welcome-file-list>
    <welcome-file>authentication.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login Servlet Redirect</description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rootUser</display-name>
    <servlet-name>rootUser</servlet-name>
    <servlet-class>rootUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rootUser</servlet-name>
    <url-pattern>/rootUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientUser</display-name>
    <servlet-name>clientUser</servlet-name>
    <servlet-class>clientUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientUser</servlet-name>
    <url-pattern>/clientUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supplierInsert</display-name>
    <servlet-name>supplierInsert</servlet-name>
    <servlet-class>supplierInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supplierInsert</servlet-name>
    <url-pattern>/supplierInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>partInsert</display-name>
    <servlet-name>partInsert</servlet-name>
    <servlet-class>partInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>partInsert</servlet-name>
    <url-pattern>/partInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jobInsert</display-name>
    <servlet-name>jobInsert</servlet-name>
    <servlet-class>jobInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobInsert</servlet-name>
    <url-pattern>/jobInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shipmentInsert</display-name>
    <servlet-name>shipmentInsert</servlet-name>
    <servlet-class>shipmentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shipmentInsert</servlet-name>
    <url-pattern>/shipmentInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accountantUser</display-name>
    <servlet-name>accountantUser</servlet-name>
    <servlet-class>accountantUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountantUser</servlet-name>
    <url-pattern>/accountantUser</url-pattern>
  </servlet-mapping>
</web-app>